body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.student-details {
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student {
  margin-bottom: 1.5rem;
}

.open-club-list {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.open-club-list:hover {
  background-color: #0056b3;
}

.club-list {
  display: none;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.clubs {
  list-style: none;
  padding: 0;
}

.club-item {
  margin-bottom: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.club-item:hover {
  
  background-color: #f5f5f5;
  transform: translateY(-3px);
}
.club-name {
  font-weight: bold;
}

.event-icon {
  color: #007bff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.event-icon:hover {
  color: #0056b3;
}

.event-form {
  display: none;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  padding: 2rem;
}

label, input {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}
input:focus {
  border-color: #007bff;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 8px 8px 8px#0056b3;
}

button:hover {
  background-color: #218838;
}
